.element{
    width: 180px;
    height: 80px;
    border: 1px solid red;
    background-color: grey;
}

.position-relative{
    position: relative;
    top: -20px;
    left: 120px;
    background-color: yellow;
}

.position-absolute{
    position: absolute;
    top: 210px;
    left: 20px;
    background-color: pink;
}

.position-fixed{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: green;
}